/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache/*.php
/bootstrap/ssr
/.phpunit.cache
.phpunit.result.cache
 
# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
 
.DS_Store
Thumbs.db

.idea/
.vscode/
.fleet/
.zed/

Homestead.json
Homestead.yaml

auth.json
.phpactor.json

/public/fonts-manifest.dev.json
